main {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
}

.section {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    width: 100%;
    padding: 0 70px;
    margin: 0 auto;
}