//Colors
$color-dark: #1d2129;
$color-white: #ffffff;
$color-offwhite: #f6f6f6;
$color-light-blue-grey: #d1d3d5;
$color-beige: #d8cabd;
$color-medium-grey: #7d8777;
$color-light-grey-blue: #adafb1;
$color-brown-grey: #acacac;