<div class="collection__filtrering__category">
    <p class="collection__filtering-title">
        Kategorier
        <span class="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.828" height="36.828" viewBox="0 0 19.828 36.828">
            <g id="Group_1" data-name="Group 1" transform="translate(-488.086 -429.086)">
            <line id="Line_1" data-name="Line 1" x2="17" y2="17" transform="translate(489.5 430.5)" fill="none" stroke="#000" stroke-linecap="square" stroke-width="3"/>
            <line id="Line_2" data-name="Line 2" x2="17" y2="17" transform="translate(506.5 447.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="square" stroke-width="3"/>
            </g>
        </svg>
        </span>
    </p>
    <div class="collection__filtering__toggle-container">
        <ul> 
            {% for item in search.results %}
                {% assign tags = item.tags %}
            {% endfor %}

            {% for tag in tags %}
                {% if tag contains 'category' %}
                {% assign handle = tag | remove_first: 'category: ' %}
                    {% if current_tags contains tag %}
                        <li class="active">
                            {{ handle | link_to_remove_tag: tag }}
                            <span class="filter-circle-filled"></span>
                        </li>
                    {% else %}
                        <li>
                            {{ handle | link_to_tag: tag }}
                            <span class="filter-circle"></span>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% schema %}
{
    "name": "Category Filter",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Category filter title"
        }
    ]    
}
{% endschema %}