#mobile-menu {
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    min-height: 100px;
    background: $color-white;
    z-index: 9999;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1);
    border-top: 1px solid $color-offwhite;
    padding: 20px;
    display: none;

    &.open {
        display: block;
    }

    .mobile-menu__container {
        display: flex;
        flex-direction: column;

        .mobile-menu__column {
            h1 {
                font-size: 24px;
                line-height: 1;
                font-weight: 400;
                color: $color-dark;
            }

            .mobile-menu__category-list {
                display: none;
                flex-direction: column;

                &.open {
                    display: flex;
                }
            }
        }
    }
}