#brands {
    padding: 100px 70px;
    @media (max-width: 900px) {
        padding: 70px 20px;
    }

    .brands__title-wrapper {
        margin-bottom: 40px;

        .brands__title {
            opacity: 0;
            transform: translateY(20px);
        }
    }

    .brands__brand-wrapper {
        opacity: 0;
        transform: translateY(20px);
    }
}